<!DOCTYPE html>
<html>
<head>
  <title>DogeApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container" style="width:100%; height:100%;">

  <header style="display:block">
    <div id="doge_header">
      <h1 id="heading" style="display:inline-block; margin-left:300px; font-size:4em"><span id="many_confession">Many Confession.</span><span id="so_doge">So Doge</span></h1>
      
    </div>
  </header>

  <div id="content">
    <%= yield %>
  </div>

  <img id="myDoge" src="../../assets/Header.png">

  <footer style="background-color:#ff4629; width:100%; height:90px; position: fixed; bottom: 0; text-align:center">
    <p id="footer_text">Much disclaim:<br> No liability. Concern. Plz professional. Much intepretation, many effect. So responsible.</p>
  </footer>

</div>

  

<script type="text/javascript">
  $(document).ready(function(e) {
    var width = $(document).width();

    function goRight() {
        $("#myDoge").animate({
        left: width - 410
      }, 5000, function() {
         setTimeout(goLeft, 50);
      });
    }
    function goLeft() {
        $("#myDoge").animate({
        left: 0
      }, 5000, function() {
         setTimeout(goRight, 50);
      });
    }

    setTimeout(goLeft, 0);
  });

  var fontcolorlist = new Array("#00ff00", "#ff0000", "#00ffff", "#ff00ff", "#ffff00", "0000ff")
  $("#many_confession").css("color",fontcolorlist[Math.floor(Math.random()*fontcolorlist.length)]);  
  $("#so_doge").css("color",fontcolorlist[Math.floor(Math.random()*fontcolorlist.length)]);  
  $(".h1").css("color",fontcolorlist[Math.floor(Math.random()*fontcolorlist.length)]);  
  $(".h2").css("color",fontcolorlist[Math.floor(Math.random()*fontcolorlist.length)]);  
  $("#first").css("color",fontcolorlist[Math.floor(Math.random()*fontcolorlist.length)]);  
  $("#second").css("color",fontcolorlist[Math.floor(Math.random()*fontcolorlist.length)]);  
  $("#third").css("color",fontcolorlist[Math.floor(Math.random()*fontcolorlist.length)]);  
  $(".field").css("color",fontcolorlist[Math.floor(Math.random()*fontcolorlist.length)]);  
  $(".email").css("color",fontcolorlist[Math.floor(Math.random()*fontcolorlist.length)]);  
  $(".actions").css("color",fontcolorlist[Math.floor(Math.random()*fontcolorlist.length)]);  

  var width = $(document).width();
  $(".h1").css("margin-left",Math.floor(Math.random()*width));  
  $(".h2").css("margin-left",Math.floor(Math.random()*width));  
  $("#first").css("margin-left",Math.floor(Math.random()*width));  
  $("#second").css("margin-left",Math.floor(Math.random()*width));   
  $("#third").css("margin-left",Math.floor(Math.random()*width));  

  var height = $(document).height();
  $(".h1").css("margin-left",Math.floor(Math.random()*height));  
  $(".h2").css("margin-left",Math.floor(Math.random()*height));  
  $("#first").css("margin-left",Math.floor(Math.random()*height));  
  $("#second").css("margin-left",Math.floor(Math.random()*height));   
  $("#third").css("margin-left",Math.floor(Math.random()*height));  
</script>


</body>
</html>
