html {
  height: 100%;
}

body {
  background-color: #ffee7f;
  color: #333;
  font-family: 'Comic Sans MS';
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  height: 100%;
}

#content {
  display: inline-block;
  z-index: 1000;
  width: 100%;
}

p, ol, ul, td {
  font-family: 'Comic Sans MS';
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;
  text-align: center;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
  &.actions {
    font-family: 'Comic Sans MS'
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#myDoge {
    position: fixed;
    bottom: 90px;
    width: 400;
    height: 270px;
    z-index: 1;
}

#doge_header {
  margin-top: 20px;
}

#footer_text {
  vertical-align: middle;
}

.h1 {
  // margin: 2% 0 0 30%;
  position: relative;
  z-index: 500;
}

.h2 {
  // margin: 2% 0 0 30%;
  position: relative;
  z-index: 500;
}

#first {
  // margin: 4% 60% 0 0;
  position: relative;
  z-index: 500;
}

#second {
  // margin: 0 0 0 500px;
  position: relative;
  z-index: 500;
}

#third {
  // margin: 10% 40% 0 0;
  position: relative;
  z-index: 500;
}

#form {
  float: right;
  margin-right: 15%;
  z-index: 500;
  position: fixed;
  bottom: 100px;
  right: 100px;
}

#form input[type="submit"] {
  background-color: rgba(255,255, 255, 0);
  border: none;
  font-family: 'Comic Sans MS';
  font-size: 150%;
}

input {
  width: 200px;
  border: 3px dashed #ff0000;
  background-color: rgba(255,255, 255, 0);
  font-family: 'Comic Sans MS';
}

#confession_text {
  font-family: 'Comic Sans MS';
  width: 200px;
  height: 100px;
  border: 3px dashed #ffff00;
  background-color: rgba(255,255, 255, 0);
}